<body>
    <div height="100%" width="100%" style="margin-top:20px; margin-bottom20px;">
        <img src="~/images/infograph.png" height="100%" width="100%" />
    </div>
    <div height="100%" width="100%" style="margin-top:20px; margin-bottom20px;">
        <p>
            The main purpose of tenancy contract system is to manage effectively house owner's and tenant’s mutuality. 
            This website will provide an agreement to house owner to keep the tenant’s information safe. They will not 
            need any paper-based document for agreement. Thus, they can easily take the proper advantages. This system 
            will store information of tenants and house owners in server and they can easily find their agreement. This 
            system will decrease the complex situation of agreement and increase the comfortness for both tenant and house owner.
        </p>
    </div>
</body>