<body>
    
    <div height="100%" width="100%" style="margin-top:20px; margin-bottom20px;">
        <h1 align="center">Premises Rent Control Act, 1991</h1>
        <h3 align="center">An Act made to make better provision for the control of rents of premises</h3>
        <br/>
        <p>
            Whereas it is expedient to make better provision for the control of reents of premises;<br />
            Now, therefore, it is enacted as follows:-
        </p>
        <p>
            <b>1. Short title and commencement.-</b><br />
            (1) This Act may be called Premises Rent Control Act, 1991.<br />
            (2) Sections 23, 24, 25, 26 and 27 shall come into force at once and the remaining sections shall, in all areas where the Premises Rent Control Ordinance, 
            1986 (XXII of 1986) was in force on the 26th day of March, 1989, be deemed to have come into force on the 27th day of March, 1989:Provided that the Government 
            may, by notification in the official Gazette, may give order to put this Act, or any part of it into force in any other area from such date as is specified in 
            the notification, and that it may also, by such notification, give order not to apply this Act or any part of it in any area from such date as is specified in the notification.
        </p>
        <p>
            <b>2. Definitions.- </b><br />
            Unless there is anything repugnant in the subject or context, in this Act-<br />
            a) "Controller" means a Controller appointed under section 3 (1) and includes an Additional Controller and Deputy Controller appointed under subsection (2) of section 3;<br />
            b) "landlord" means any person who for the time being is receiving, or is entitled to receive, the rent of any premises whether on his own behalf, or on behalf or for the benefit 
            of any other person, or as a trustee or receiver for any other person, or who would so receive the rent or be entitled to receive the rent if the premises were let to a tenant, and 
            includes a legal representative as defined in the Code of Civil Procedure, 1908 (V of 1908), a tenant who sublets any premises and every person from time to time deriving title under a landlord;<br />
            c) "premises" means any building or part of a building or any hut or part of a hut which is, or is intended to be, let seperately for residential or non-residential purposes or 
            both and includes the gardens, grounds and out-houses, if any, appertaining to such building or part of a building or hut or part of a hut;<br />
            d) "standard rent" means the standard rent fixed or deemed to be fixed under this Act;<br />
            e) "tenant" means any person by whom, or on whose account, rent is payable for any premises and includes a legal representative as defined in the Code of Civil Procedure, 
            1908 (V of 1908), and a person continuing in the possession after the termination of a ternancy in his favour;<br />
            f) "rent" means rent for premises;<br />
            g) "rule" means rules made under this Act.
        </p>
        <p>
            <b>3. Appointment of the Controller etc. .-</b><br />
            (1) The Government may, by notification in the official Gazette, appoint any person as a Controller for any area to exercise the powers and discharge the duties conferred and imposed upon a Controller by or under this Act.<br />
            (2) The Government may, by notification in the official gazette, appoint any person as an Additional Controller or a Deputy Controller for any area.<br />
            (3) An Additional Controller or a Deputy Controller shall exercise such of the functions of the Controller as may be assigned to him by the Controller 
            and in the discharge of these functions an Additional Controller or a Deputy Controller shall exercise the same powers and discharge the same duties 
            as that of the Controller, save as those mentioned in subsection (4).<br />
            (4) A Controller may-<br />
            a) transfer any case pending before him for disposal to any Additional Controller or Deputy Controller, or<br />
            b) withdraw any case pending before an Additional Controller or a Deputy Controller and dispose of such case himself or transfer such case for disposal to any other Additional Controller or Deputy Controller.<br />
        </p>
        <p>
            <b>4. Hearing of certain applications.-</b><br />
            (1) The hearing of every application made to the Controller under this Act shall be completed within a period of three months.<br />
            (2) Notwithstanding anything contained in subsection (1), the hearing of an application for a permission under subsection (2) of section 21 shall be completed within a period of one month.<br />
            (3) If for any special reason a hearing can not be completed within the period mentioned in subsection (1) and (2), the Controller shall, after having recorded the reasons in writing, 
            complete the hearing as fast as possible after the said periods.<br />
            (4) The hearing of every application shall, when it has begun, be continued from day to day, but the Controller may, if for any special reason it is not possible so to do, adjourn 
            the hearing after having recorded the reasons in writing.<br />
            (5) In all proceedings before him the Controller may award to or against any party such costs as would be reasonable and the same shall be recoverable as a public demand.
        </p>
        <p>
            <b>5. Notices to landlords and tenants.-</b><br />
            (1) Before exercising any of the powers conferred on him by this Act, the Controller shall give notice by registered post of his intention 
            to do so to the landlord and the tenant, if any, and shall cause a copy of such notice to be affixed in a conspicuous place in his office.<br />
            (2) The Controller shall duly consider any application as regards the exercise of the said powers, received by him within the period specified 
            in the notice from any person having any interest in the premises mentioned in the notice.
        </p>
        <p>
            <b>6. Power to enter and inspect premises.-</b><br />
            (1) For the purposes of any enquiry under this Act, the Controller may-<br />
            a) enter and inspect any premises at any time between sunrise and sunset;<br />
            b) authorise any officer subordinate to him to enter and inspect any premises at any time between sunrise and sunset;<br />
            c) by written order require to produce for his inspection such accounts, rent-receipts, books or other documents as are 
            relevant to the enquiry, at such time and at such place, as may be specified in the order: Provided that no premises shall 
            be entered without the consent of the occupier unless at least twentyfour hours' previous notice of the intention of such 
            entering has been given in writing.<br />
            (2) The Controller may, in order to fulfill the purposes of this Act, and subject to rules, exercise the same powers which 
            a court may exercise under the Code of Civil Procedure, 1908 (V of 1908) in order to issue summons, to enforce the attendance 
            of witnesses or to compel the production of documents.
        </p>
        <p>
            <b>7. Restriction on the increase of rent.-</b><br />
            Subject to the provisions of this Act where the rent of any premises has been increased so as to exceed the standard rent, 
            the amount of such excess shall, notwithstanding any agreement to the contrary, be irrecoverable.
        </p>
        <p>
            <b>8. Increase of rent for improvements and supply of furniture by the landlord.- </b><br />
            Where, after the premises were let out, some addition, improvement or alteration, not included in necessary repairs, has been 
            made to any premises to the landlord's expense or any furniture has been supplied by the landlord for use in any premises, such 
            additional amount as may be agreed upon between the landlord and the tenant in consideration of the addition, improvement or alteration, 
            or the furniture supplied, shall be payable by the tenant to the landlord in addition to the standard rent.
        </p>
        <p>
            <b>9. Increase of rent on account of payment of taxes.-</b><br />
            Where any municipal rate, tax, toll or fee or a share of such rate, tax, toll or fee in respect of any premises, is payable by the tenant 
            and the landlord agrees, under the terms of the tenancy, to pay such rate, tax, toll or fee or such share of such rate, tax, toll or fee, 
            the amount so agreed to be paid by the landlord shall be payable by the tenanat to the landlord in addition to the standard rent.
        </p>
        <p>
            <b>10. Premium etc. not to be claimed.-</b><br />
            No person shall, in consideration of the grant, renewal or continuance of a tenancy of any premises-<br />
            a) claim, receive or ask for payment of any premium, salami, security or any other like sum in addition to the rent, or<br />
            b) except with the previous consent of the Controller, claim or receive the payment of any sum exceeding one month's rent of such premises as rent in advance.
        </p>
        <p>
            <b>11. Exception in the case of long leases for purposes of development.-</b><br />
            Notwithstanding anything contained in section 10, a landlord may receive a premium, salami, security or any other like sum in addition to the rent in respect 
            of any premises which are let out on a lease for a period of not less than twenty years for the purpose of development either by building or rebuilding, if the 
            period limited by the lease is not expressed to be terminable at the option of the landlord within a period of ten years from the date of commencement of the period so limited.
        </p>
        <p>
            <b>12. Purchase of furniture not to be a condition for tenancy.-</b><br />
            No person shall make the purchase of any furniture in any premises a condition of the grant, renewal or continuance of a tenancy of such premises.
        </p>
        <p>
            <b>13. Receipt for paid rents.-</b><br />
            (1) Where a tenant has paid his rent, the landlord shall give forthwith to the tenant a signed receipt for the rent in the form determined by law.<br />
            (2) The landlord shall retain a counterfoil of the receipt.
        </p>
        <p>
            <b>14. Refund of irrecoverable rent etc.-</b><br />
            (1) Where in respect of any premises-<br />
            a) on account of rent, any sum has been paid or deposited, which is not recoverable in accordance with the provisions of this Ordinance, or<br />
            b) on account of a premium, salami, security or any other like sum or a rent in advance, any sum has been paid or deposited, the claiming or
            receiving of which is prohibited in accordance with the provisions of this Act,<br />
            the Controller may, on an application made within a period of six months from the date of such payment or deposit by the tenant by whom such 
            payment or deposit was made, order the landlord by whom such payment was received or to whose credit such deposit was made, to refund such sum 
            or, at the option of such payer or depositor, order the adjustment of such sum in any other manner.<br/>
            (2) An order passed by the Controller under subsection (1) shall be executed as a decree by the Court having jurisdiction to entertain a suit 
            for recovery of arrears of rent in respect of the premises concerned, as if such order were a decree of that Court.
        </p>
        <p>
            <b>15. Duties and powers of the Controller.-</b><br />
            The Controller shall, on the basis of an application made by the landlord or the tenant, fix the standard rent of any premises at an amount per annum which
            shall be equivalent to fifteen per cent. of the market-value of the premises to be assessed in such manner as may be prescribed :<br />
            Provided that where the amount of the standard rent has been fixed under the Rent Control Ordinance, 1986 (XXII of 1986), the standard rent so fixed 
            shall be deemed to be the standard rent fixed under this section until it is motified or altered by the Controller.
        </p>
        <p>
            <b>16. Date on which standard rent takes effect and it's term.-</b><br />
            (1) When, in fixing the standard rent under section 15, the rent which was being paid at the time of the application is increased or decreased, the standard 
            rent shall be payable from the month next after the date of the application.<br />
            (2) The standard rent shall, on the basis of an application made by the landlord or the tenant, be refixed by the Controller in accordance with the provisions of section 15 every two years.
        </p>
        <p>
            <b>17. Distress warrant etc. in certain cases.-</b><br />
            No warrant, in execution of a decree passed ex parte under the Code of Civil Procedure, 1908 (V of 1908) shall be issued for the attachment of property or for the arrest of any tenant, 
            in connection with the recovery of the rent of any premises, unless the person applying for execution, when making his application, swears or affirms, by affidavit or otherwise, that 
            none of the rent referred to in the application is irrecoverable under this Act.
        </p>
        <p>
            <b>18. No order for ejectment ordinarily to be made if rent paid at allowable rate.-</b><br />
            (1) Notwithstanding anything contained in the Transfer of Property Act, 1882 (IV of 1882) or the Contract Act, 1872 (IX of 1872), no order or decree in favour of the landlord for the recovery
            of possession of any premises shall be made as long as the tenant pays rent to the full extent allowable by this Act and performs the conditions of the tenancy:<br />
            Provided that nothing in this sub-section shall apply where-<br />
            a) the tenant has done any act contrary to the provisions of clause m), clause c) or clause p) of section 108 of the Transfer of Property Act, 1882 (IV of 1882); or<br />
            b) in the absence of any contract to the contrary, the tenant has, without the consent of the landlord in writing, sublet the premises in whole or in part; or<br />
            c) the tenant has been guilty of any such conduct as is a nuisance or an annoyance to occupiers of adjoining or neighbouring premises; or d) the tenant has been
            using the premises or part thereof or allowing the premises or part thereof to be used for economic purposes; or<br />
            e) the premises are bona fide required by the landlord either for purposes of building or rebuilding the premises or for his own occupation or for the occupation
            of any person for whose benefit the premises are held, or where the landlord can show any cause which may be deemed satisfactory by the Court;<br /><br />
            (2) The fact that the period of the lease has expired, or that the interest of the landlord has been transferred shall not of itself be deemed
            to be a satisfactory cause within the meaning of clause e) of sub-section (1), if the tenant is ready and willing to pay rent to the full extent allowable by this Act.<br /><br />
            (3) Where-<br />
            a) any tenant has sublet any premises or part thereof with the consent of the landlord or in accordance with the terms of the tenancy agreement expressly permitting subletting, or<br />
            b) any tenant has sublet any premises or part thereof used or mainly used by him for commercial or industrial purposes and has also, together with such premises or part thereof,
            transferred such commercial or industrial undertaking;<br />
            the person to whom such premises or part thereof has or have been sublet shall, on the lawful determination of the interest of the tenant in such premises or part thereof otherwise
            than by virtue of an decree or order obtained by the landlord on any of the grounds specified in clause e) of sub-section (1), be deemed to be tenant in respect of such premises or
            part thereof, holding directly under the landlord under terms and conditions on which such person would have held under the tenant if the interest of the tenant had not been so determined:<br />
            Provided that the landlord or any person deemed under this section to be a tenant may make an application under section 15 to the Controller for fixing the standard rent for such premises
            or part thereof and until any standard rent is fixed by the Controller on such application, such person shall be liable to pay to the landlord the same rent as has been payable by him to the
            tenant before the interest of the tenant was determined.<br /><br />
            (4) Where the landlord recovers possession of the premises on the ground that the premises are bona fide required by him for purposes of building or rebuilding or for the own occupation or for
            the occupation of any person for whose benefit the premises are held, and the building or rebuilding of the premises is not commenced, or the premises are not occupied by the landlord or such person
            for whose benefit the premises are held, within two months of the date of vacating the premises by the previous tenant, or the premises having been so occupied are re-let within six months of the
            date of the said occupation to any person other than the previous tenant, the Controller may, on the application of the previous tenant made within seven months of his vacating the premises, direct
            the landlord to put the previous tenant in possession of the premises or to pay him such compensation as may be fixed by the Controller or both.<br /><br />
            (5) No tenant shall be entitled to any benefit of this section in respect of any premises unless-<br />
            a) he pays the rent due by him to the full extent allowable by this Act within the time fixed in the rent agreement or, in the absence of such agreement, by the fifteenth day of the month
            next following that for which the rent is payable; or<br />
            b) in the cases provided for in section 19, unless he has deposited the rent in accordance with the provisions of that section together with, in the case mentioned in clause b) of sub-section (1)
            of that section, the cost of transmission of the rent referred to in that sub-section within the time specified in that section.<br /><br />
            (6) For the purposes of this section, the rent allowable by this Act in relation to any premises means-<br />
            a) where the standard rent in respect of such premises has been fixed by the Controller under section 15, the standard rent so fixed;<br />
            b) where such standard rent has not been fixed, the rent agreed upon between the landlord and the tenant.
        </p>
        <p>
            <b>19. Deposit of rent by the tenant in certain circumstances.-</b><br />
            (1) When a landlord refuses to accept any rent referred to in section 18 remitted by postal money order by a tenant,-<br />
            a) the tenant may deposit such rent within fifteen days of the date on which the rent is returned to the tenant by the postal authorities as undelivered; and<br />
            b) unless the landlord signifies by notice in writing to the tenant his willingness to accept any subsequent rent in respect of the premises, the tenant may also
            deposit such subsequent rent within fifteen days of the date on which such rent becomes due or within fifteen days after the expiry of the time within which such rent
            is required to be paid under sub-section (5) of section 18, together with the cost of transmission by postal money order.<br /><br />
            2) Where any bona fide doubt or dispute has arisen as to the person who is entitled to receive any rent referred to in section 18, the tenant may, within fifteen days 
            of the date on which such rent becomes due or within fifteen days after the expiry of the time within which such rent is required to be paid under sub-section (5) of section 18,-<br />
            a) deposit such rent; and<br />
            b) may also deposit any subsequent rent until such doubt has been removed or such dispute has been settled by the decision of a Court or by settlement between the parties.<br /><br />
            (3) Where the landlord has left his usual place of residence and his address and whereabouts are not known to the tenant and where there is no agent of the landlord within 
            the knowledge of the tenant to receive the rent mentioned in section 18, the tenant may, within fifteen days of the date on which such rent becomes due or within fifteen d
            ays after the expiry of the time within which such rent is required to be paid under sub-section (5) of section 18,-<br />
            a) deposit such rent; and<br />
            b) may also deposit any subsequent rent unless the address and the whereabouts of the landlord are known to the tenant:<br />
            Provided that the Controller shall, within seven days of the first deposit, send, at the expense of the tenant, a notice in respect of such depositing by registered post to the 
            landlord to his last known address.<br /><br />
            (4) Where the payment of any amount of money to, or the deposition of any amount of money to the credit of, a landlord is prohibited under the provisions of the Foreign Exchange 
            Regulation, 1947 (VII of 1947), the tenant may, within fifteen days of the date on which such rent becomes due or within fiften days after the expiry of the time within which such 
            rent is required to be paid under sub-section (5) of section 18,-<br />
            a) deposit the rent referred to in section 18; and<br />
            b) may also deposit any subsequent rent:<br />
            Provided that the Controller shall, within seven days of the first deposit, send, at the expense of the tenant, a notice in respect of such depositing by registered post to the landlord 
            at his present address or, where such address is not known, to his last known address.<br /><br />
            (5) Every deposit under sub-section (1), (2), (3) or (4) shall be given to the Controller together with an application containing informations with regard to the following subjects, namely:-<br />
            a) a description sufficient for identifying the premises for which the rent is deposited;<br />
            b) specification of the period for which the rent is deposited;<br />
            c) the reasons and circumstances for depositing the rent;<br />
            d) in the case of a deposit under sub-section (1) or (4), the name and address of the landlord;<br />
            e) in the case of a deposit under sub-section (2), the name and address of the person who, to the best information and belief of the tenant, is the landlord entitled to receive the rent;<br />
            f) in the case of a deposit under sub-section (3), the name and last known address of the landlord.<br /><br />
            (6) On any deposit being made under sub-section (1), the Controller shall, within fifteen days from the date of the deposit, forward the same by postal money order to the address of the 
            landlord and in forwarding the said money the Controller shall deduct therefrom the cost of the money order.<br /><br />
            (7) When a deposit has been made under sub-section (2), the amount of such deposit shall be held by the Controller pending the removal of the doubt or the settlement of the dispute which 
            has arisen as to the person who is entitled to receive the rent whether by the decision of a Court or by settlement between the parties and the amount of such deposit may, in the prescribed 
            manner, be withdrawn by the person who is entitled to it either by the decision of the Court or a settlement between the parties.<br /><br />
            (8) When a deposit has been made under sub-section (3), the amount of such deposit shall be held by the Controller until the landlord appears before the Controller and proves to his satisfaction
            his identity, whereabouts and present address and withdraws the amount of such deposit.<br /><br />
            (9) When a deposit has been made under sub-section (4), the amount of such deposit may be withdrawn by the landlord with the permission of the Bangladesh Bank in accordance with the provisions 
            of the Foreign Exchange Regulation Act, 1947 (VII of 1947).<br /><br />
            (10) If the money sent under sub-section (6) by postal money order is returned undelivered, the Controller shall, within fifteen days of the return of the money order, cause a notice with 
            regard to the deposit to be served on the landlord in the prescribed manner and the amount deposited may, in the prescribed manner, be withdrawn by the landlord.<br /><br />
            (11) If the amount referred to in sub-section (7), (8), (9) or (10) is not withdrawn before the expiration of three years from the date of being deposited, it shall, subject to any order of 
            any Court, be forfeited to the Government and, notwithstanding anything contained in any other Act or any contract, the landlord shall not be entitled to recover the said amount by suit or 
            otherwise from the tenant by way of his dues in respect of the premises concerned:<br />
            Provided that in computing the period of three years, the period during which any legal proceeding for the removal of doubt or settlement of dispute between the parties referred to in 
            sub-section (7), including a proceeding in appeal, has been pending before any Court, and the period during which an application for permission to the Bangladesh Bank referred to in sub-section 
            (9) has been pending before the Bangladesh Bank shall be excluded.<br /><br />
            (12) No suit or other legal proceeding shall be filed against the Government or against any officer of the Government in respect of anything done in good faith by the Controller receiving a deposit 
            under this section, but nothing in this section shall prevent any person entitled to receive any amount deposited thereunder from recovering the same from a person to whom it has been paid under this section.
        </p>
        <p>
            <b>20. Savings as to acceptance of rent sent by money order or withdrawal of rent.-</b><br />
            When a landlord accepts any rent sent by post under section 18 or 19 or withdraws any rent deposited under section 19, the fact of this acceptance or withdrawal shall not be used as evidence 
            that he has admitted as correct any of the particulars set forth in the money order form or in the application for depositing the rent or that he has waived any notice to quit given by him to 
            the tenant.
        </p>
        <p>
            <b>21. Repairs etc. by the tenant.-</b><br />
            (1) The Controller shall, on application made to him in this behalf by a tenant, cause a notice to be served in the prescribed manner on the landlord requiring him to make any repairs which a landlord is 
            bound to make to the premises let by him or to take any measures for the maintenance of any essential supply including the maintenance of supply of water or electricity, the maintenance of drainage service 
            and the maintenance of any lift, which the landlord is bound to maintain in the premises let by him under the conditions of the tenancy or according to local usage.<br />
            (2) If within thirty days from the date of the service of a notice under sub-section (1) the landlord fails or neglects to make such repairs or to take such measures, the tenant may submit to the Controller 
            an estimate of the costs of such repairs or measures, and may apply to him for the permission to make such repairs or to take such measures himself.
            (3) On an application under sub-section (1), the Controller may, after giving the landlord an opportunity of being heard and after considering such estimate of costs and after making such inquiries as he may 
            consider necessary, by an order in writing, permit the tenant to make such repairs or to take such measures at a cost not exceeding the amount specified in the order.<br />
            (4) On receiving a permission under sub-section (3), the tenant may make such repairs or take such measures at his own expense and he may deduct he amount expended therefore from the rent or otherwise recover from the landlord:<br />
            Provided that such amount shall not exceed the amount specified in the order and that such amount in any year shall not exceed one-sixth of the rent payable in that year;<br />
            Provided further that if the repairs or measures exceed in cost the amount specified by the Controler in the order, the tenant shall bear the excess cost himself.<br />
            (5) The landlord shall be bound in any event to make such repairs or to take such measures without which the premises are not habitable or usable except with great inconvenience and such repairs shall not be 
            included in the repairs and measures referred to in sub-section (1); and if the landlord fails to make such repairs or to take such measures, then, in the case of applying sub-section (1), (2) and (3), the 
            limitation referred to in sub-section (3) as to the amount deductable from the rent or recoverable from the landlord for making such repairs or taking such measures shall not apply.<br />
            (6) Notwithstanding anything contained in sub-section (1), (2) or (3), if the necessity for making any repairs or taking any measures referred to in sub-section (1) is so urgent that any delay 
            involved in the procedure specified in the said sub-sections is likely to subject the tenant to personal loss or serious inconvenience, the tenant may himself cause the notice referred to in 
            sub-section (1) to be served in the prescribed manner on the landlord requesting him to make such repairs or to take such measures within seventy-two hours of the sevice of the notice and shall, 
            at the same time, submit a copy of such notice to the Controller together with an estimate of the cost of such repair or maintenance.<br />
            (7) If, after the service of a notice under sub-section (6), the landlord fails to make such repairs or to take such measures within the time mentioned in the notice, the tenant may himself make 
            such repairs or take such measures and submit to the Controller a statement of the cost thereof.<br />
            (8) The Controller may, after considering the statement submitted under sub-section (7) and making such further inquiries as he may think necessary, determine the amount of the costs which the 
            tenant is entitled to recover from the landlord, and the tenant may deduct the amount so determined from the rent or otherwise recover it from the landlord: Provided that the said amount in 
            any year shall not exceed one-sixth of the rent payable for that year.
        </p>
        <p>
            <b>22. Repair of premises by the Deputy Commisssioner etc. .-</b><br />
            Notwithstanding anything contained in section 21, the Deputy Commissioner may, if he is satisfied to the effect that any premises be in need of repairs in order to prevent their deterioration, undertake 
            such repairs on his own initiative and recover the entire cost of such repair from the rent payable to the landlord by attaching the same under the Public Demands Recovery Act, 1913 (III of 1913).
        </p>
        <p>
            <b>23. Penalty for recovering rent in excess of the standard rent.-</b><br />
            Whoever knowingly-<br />
            a) receives, whether directly or indirectly, a rent in excess of the standard rent for any reason other than those specified in section 8 or in section 9; or<br />
            b) receives, asks for or invites, whether directly or indirectly, any premium, salami, security or any other like sum in addition to the standard rent for any reason other than those specified in section 11; or<br />
            c) receives any sum as rent in advance in excess of one month's rent without the written consent of the Controller;<br /><br />
            shall, on the complaint of the person aggrieved or of the Government, be liable-<br /><br />
            i) in the case referred to in clause a), on the first occasion to a fine which may extend to twice the amount recovered in excess of the standard rent, and on every subsequent occasion to a fine which may extend to three times the amount of such excess;<br />
            ii) in the case referred to in clause b), on the first occasion to a fine which may extend to two thousand Takas and on every subsequent occasion to a fine which may extend to five thousand Takas;<br />
            iii) in the case referred to in clause c), on the first occasion to a fine which may extend to twice the amount received in excess of one month's rent, and on every subsequent occasion to a fine which may extend to three times the amount received in excess of one month's rent.
        </p>
        <p>
            <b>24. Penalty for disturbance of easements etc. .-</b><br />
            Whoever, in any case in which an order or a decree for the recovery of possession of any premises is prohibited under section 18, save for the purpose of effecting repairs or complying with any municipal 
            requisition, wilfully disturbs any easement annexed to such premises, or removes, destroys or renders unservisable, anything provided for permanent use therewith, or discontinues any supply or service 
            comprised in the tenancy of such premises, shall, on the complain of the party aggrieved, be liable, on the first occasion, to a fine which may extend to five hundred Takas, and on every subsequent 
            occasion, to a fine which may extend to one thousand Takas.
        </p>
        <p>
            <b>25. Penalty for giving incorrect name or address of the landlord.-</b><br />
            If a tenant, while making a deposit of any rent under section 19, wilfully gives an incorrect name or address of the landlord, he shall, on the complaint of the landlord, be liable to a fine which may 
            extend to five hundred Takas.
        </p>
        <p>
            <b>26. Penalty for the tenant's failure to explain the possession of premises.-</b><br />
            (1) Whenever the tenant quits any premises, he shall, unless he has sub-let part of the premises with the consent of the landlord or in accordance with the rent agreement, make over vacant possession 
            of the premises to the landlord.<br />
            (2) Every tenant who refuses or fails to make over vacant possession of a premises under sub-section (1) shall, on the complaint of the landlord, be liable to a fine which may extend to ten times the 
            standard rent of the premises.<br />
        </p>
        <p>
            <b>27. Penalty for failure to grant receipts.-</b><br />
            If a landlord refuses or fails to deliver to a tenant a written receipt for the rent received by him in accordance with the provisions of sectioin 13, he shall, on the complaint of the tenant, be liable to a fine twice the amount realised.
        </p>
        <p>
            <b>28. Filing of complaints etc. .- </b><br />
            (1) Every complaint under sections 23, 24, 25, 26 or 27 shall be filed in written form with the Controller.<br />
            (2) The Controller may, after inquiring every complaint filed with him under sub-section (1), impose the punishment referred to in the said sections.<br />
            (3) The fine imposed under the said sections shall be paid by the person fined in the prescribed manner within thirty days from the date of the order imposing 
            the fine and in default of such payment within the said time the fine shall be recoverable as a public demand under the Public Demands Recovery Act, 1913 (Bengal Act III of 1913).<br />
            Provided that the Controller may, for special reasons to be recorded by him in writing, extend the period for payment.
        </p>
        <p>
            <b>29. Limitation of complaints.-</b><br />
            No complaint under sections 23, 25, 26 or 27 shall be brought against any person after the expiration of six months from the date of the commission of the offence in respect of which the complaint is brought.
        </p>
    </div>
    <p>
        <b>30. Appeal and review.-</b><br />
        (1) Any person aggrieved by an order of the Controller may, within thirty days from the date of the order, present an appeal in the prescribed manner to the 
        Zila Judge of the Zila in which the premises, in respect of which such order was made, are situated:<br />
        Provided that in computing the said period the day of the order and the time required for obtaining a certified copy of the order shall be deducted.<br />
        (2) A Zila Judge to whom an appeal is presented under sub-section (1) may transfer such appeal to any Additional Zila Judge or Sub-Judge to decide such appeal 
        and may withdraw any appeal so transferred and either dispose of it himself or transfer it again to any Additional Zila Judge or Sub-Judge to decide such appeal.<br />
        (3) The Zila Judge or the person to whom an appeal is transferred under sub-section (2) shall send for the record of the case from the Controller and, after 
        considering such report and, if necessary, taking evidences, shall decide the appeal.<br />
        (4) The Controller or Zila Judge or any person to whom an appeal is transferred under sub-section (2) may review any order passed by them on account of the 
        discoverey of any new important matter or evidence or on account of some mistake or error apparent on the face of the record or for any other sufficient cause:<br />
        Provided that before any order is passed under this sub-section which is likely to affect any person adversely, such person shall be given reasonable opportunity of being heard.<br />
        (5) The decision of the Zila Judge or a person to whom an appeal is presented under sub-section (2) and, subject to the said decision, an order of the Controller shall be final.
    </p>
    <p>
        <b>31. Supply of certified copies of the order of the Controller.-</b><br />
        Any person affected by any order of the Controller made under this Act shall be entitled to be furnished with a copy thereof, duly certified by the Controller to be a correct copy, on 
        payment of such fees as may be prescribed and such copy shall be admissible in evidence in every Court to prove the order of the Controller.
    </p>
    <p>
        <b>32. Tenant may get supply of electricity without the permission of the landlord.-</b><br />
        Notwithstanding anything contained in any other Act for the time being in force, a tenant may get from a licencee the supply of electricity in the premises let
        out to him without the permission of the landlord.<br />
        <b>Explanation.- </b>In this section, "licencee" has the same meaning as in clause h) of section 2 of the Electricity Act, 1910 (IX of 1910).
    </p>
    <p>
        <b>33. Exemption.-</b><br />
        Nothing in this Act shall apply to any premises owned by the Government, the Dhaka Development Authority, the Chittagong Development Authority, the Khulna Development Authority and the Rajshahi Development Authority.
    </p>
    <p>
        <b>34. Power to make rules.-</b><br />
        (1) The Government may, by notification in the official Gazette, make rules for carrying out the purposes of this Act.<br /><br />
        (2) In particular and without prejudice to the generality of the foregoing power, such rules may provide for all or any of the following matters, namely:-<br />
        a) the manner of withdrawal of the deposit of rent by the landlord under section 19;<br />
        b) the manner of payment of the fine referred to in section 29;<br />
        c) the procedure to be followed in enquiries under this Act by the Controller, the Zila Judge, the Additional Zila Judge and the Sub-Judge;<br />
        d) the procedure for review of orders referred to in sub-section (5) of section 30;<br />
        e) the manner of service of notices issued under this Act;<br />
        f) the charging and remitting of costs and fees and the fixing of a scale of costs and fees;<br />
        g) other matters required to be prescribed under this Act.
    </p>
    <p>
        <b>35. Savings.-</b><br />
        (1) Notwithstanding the expiry of the Premises Rent Control Ordinance, 1986 (XXII of 1986), hereinafter referred to as the said Ordinance, -<br />
        a) any rules made or deemed to have been made under the said Ordinance, insofar as they are not inconsistent with the provisions of this Act, 
        shall continue in force and shall be deemed to have been made under this Act until they are modified or rescinded;<br />
        b) any order deemed to have been passed or appointment deemed to have been made or anything done or deemed to have been done or any measures 
        taken or deemed to have been taken or any proceedings commenced or deemed to have been commenced under any of the provisions of the said 
        Ordinance shall, insofar as they are not inconsistent with the provisions of this Act, continue in force and shall be deemed to have been 
        passed, made, done, taken or commenced under such provisions of this Act;<br />
        c) All applications for fixation of standard rent under section 15 of the said Ordinance, all applications for deposit of rent under section 
        19 of the said Ordinance and all applications relating to repairs under section 21 of the said Ordinance which, immediately before the commencement 
        of this Act, were pending before any Controller appointed under the said Ordinance, shall, as from the commencement of this Act, be deemed to have 
        been transferred to the Controller appointed under this Act and that Controller shall proceed with such applications from the stage at which they 
        stood before being transferred;<br />
        d) all appeals against the decisions of the Controller under sections 15, 19, 21 of the said Ordinance which, before the commencement of this Act, 
        were pending before any Zila Judge, Additional Zila Judge or Sub-Judge, shall be deemed to have been filed under this Act and to be pending before the said Judges
    </p>
    <p>
        <b>36. Repeals and savings.-</b><br />
        (1) The Premises Rent Control Ordinance, 1991 (Ordinance No.2, 1991) is herewith repealed.<br />
        (2) Notwithstanding such repeal, all actions performed or all measures taken under the repealed Ordinance shall be deemed to have been performed or taken under this Act.
    </p>
</body>